.container {
  background-color: #e6f6fd;
  position: relative;
  display: grid;
  height: 100vh;
  grid-template-rows: 20% 80%;
  .homeBg {
    position: absolute;
    top: 0;
    left: 5rem;
    width: 90%;
    height: 100%;
    filter: blur(3px);
    transform: scaleX(-1);
  }

  img {
    width: 15rem;
    height: 45rem;
  }

  .title {
    padding: 2rem;
    padding-top: 4rem;
    h2 {
      font-size: 2.75rem;
      text-align: center;
      padding-bottom: 1rem;
    }
    p {
      font-size: 1.1rem;
      text-align: center;
    }
  }

  .infoContainer {
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
  }

  .leftContainer {
    padding: 1rem;
    display: grid;
    grid-template-columns: 15% 70% 15%;

    .first,
    .second,
    .third {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      h1 {
        font-size: 1.2rem;
        font-weight: 700;
        text-align: center;
      }
      p {
        text-align: center;
      }
    }

    .second {
      & > div {
        margin-top: -3.5rem;
        width: 43%;
      }
    }
  }

  .superHero {
    display: none;
  }
}

@media only screen and (max-width: 1799px) {
  .container {
    height: auto;
    width: 99.7vw;
    overflow: hidden;
    .title {
      h2 {
        font-size: 2rem;
      }
      p {
        font-size: 1.05rem;
      }
    }

    img {
      width: 10rem;
      height: 25rem;
    }

    .leftContainer {
      .first,
      .second,
      .third {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          font-size: 1.2rem;
        }
        p {
          text-align: center;
        }
      }

      .first,.third{
        height: 25rem;
        margin-top: 2rem;
      }
    }

    .rightContainer {
      & > div {
        height: 90%;
      }
    }
  }
}

@media only screen and (max-width: 1500px) {
  .container {
    .second {
      & > div {
        margin-top: 1.5rem !important;
        width: 65% !important;
        height: 40rem;
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .container {
    height: 100vh;
    .title {
      padding: 1rem;
      padding-top: 2rem;
      h2 {
        font-size: 2rem;
      }
      p {
        font-size: 1rem;
      }
    }

    .leftContainer {
      padding: 1rem;
      display: grid;
      grid-template-columns: 50% 50%;
      height: 20%;
      margin-top: 3rem;

      .first,
      .third {
        height: auto;
        justify-content: flex-start;
        gap: 2rem;
      }

      .second {
        display: none;
      }
    }

    .superHero {
      display: block;
      height: 90%;
      padding: 0.5rem;
    }
  }
}

@media (min-width: 502px) and (max-width: 750px) {
  .container {
    .superHero {
      div{
        margin-top: -10rem;
      }
    }
  }
}

@media only screen and (max-width: 501px) {
  .container {
    .title {
      padding: 1rem;
      padding-top: 2rem;
      h2 {
        font-size: 1.7rem;
      }
      p {
        font-size: 1rem;
      }
    }

    .leftContainer {
      margin-top: 5rem;

      .first,
      .third {
        gap: 2rem;

        h1 {
          font-size: 1rem;
        }
        p {
          font-size: 0.9rem;
        }
      }

      .second {
        display: none;
      }
    }
  }
}


@media only screen and (max-width: 355px) {
  .container {
    height: auto;
    .leftContainer {
      margin-top: 13rem;
    }

    .superHero {
      margin-top: -5rem;
      width: 100%;
      height: 80%;
      margin: 0 auto;
    }
  }
}