.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 30% 70%;
  background-color: #ffce7f;
  background-position: fixed;
  .topContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2 {
      font-size: 3rem;
    }
    p {
      text-align: center;
      font-size: 1.3rem;
      padding: 0 8rem;
    }
  }
  .bottomContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    .card {
      .imgContainer {
        height: 30rem;
        width: 20rem;
        overflow: hidden;
        border-radius: 1rem;

        img{
          height: 30rem;
          width: 20rem;
        }
      }
      h3{
        padding: 1rem;
        text-align: center;
        font-size: 1.2rem;
      }
    }
  }
}
